*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: #028090;
}



section{

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 55px 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    background-color: #028090;
}

ul{

    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

li{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    box-shadow: 10px 10px grey;
    gap: 1rem;
}

li img{
    width: 5rem;
    height: 5rem;
    text-decoration: none;
    border-radius: 50%;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #0D1F2D;
    border-radius: 5px;
}

#form div {
    display: flex;
    flex-direction: column;
}

input{
    border-radius: 10px;
    padding: 0.5rem;
    background-color: aliceblue;
}



label{
    background-color: #E4FDE1;
    border-radius: 10px;
}

#form button {
    border-radius: 10px;
    padding: 0.5rem 0.5rem;
    background-color: honeydew;
    
}

#form button:hover {
    background-color: rgb(74, 185, 148);
}